Package: cpta
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: bash
Maintainer: Danylenko
Description: Script that will calculate the amount of files exluding directories and links in /etc directory